<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootViz</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Tabla 2024/25</h1>

    <form action ="/tabla">
        <label for="liga">Selecciona una liga:</label>
        <select id = "liga" name = "liga">
            <option value = "EPL">EPL</option>
            <option value = "La Liga">La Liga</option>
            <option value = "Ligue 1">Ligue 1</option>
            <option value = "Serie A">Serie A</option>
            <option value = "Bundesliga">Bundesliga</option>
        </select>
        <button type="submit">Ingresa</button>

    </form>
    <table border="2px" width="300">
        <thead>
            <tr>
                <th>#</th> 
                <th>Club</th>
                <th>PJ</th>
                <th>V</th>
                <th>E</th>
                <th>D</th>
                <th>GA</th>
                <th>GC</th>
                <th>PTS</th>
             </tr>
        </thead>
        <tbody>
            {% for row in tabla %}
            <tr>
                <td>{{ row.rk }}</td>
                <td>{{ row.club }}</td>
                <td>{{ row.pj }}</td>
                <td>{{ row.v }}</td>
                <td>{{ row.e }}</td>
                <td>{{ row.d }}</td>
                <td>{{ row.ga }}</td>
                <td>{{ row.gc }}</td>
                <td>{{ row.pts }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
</body>

</html>